@media (min-width: 576px) {
.col-sm-4 {
    width: 280px;
}

.btn-edit-media {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    margin-right: 7px;
    margin-left: 7px;
}

}

h2 {
    font-size: 3em;
}

span {
    font-size: 0.6em;
}

body {
    background-color: rgb(255, 196, 0);
    background-image: url(img/fundo-fundo.png);
    background-repeat: repeat;
}

.btn-edit-media {
    width: 10em;
    height: 3em;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-edit {
    width: 10em;
    height: 3em;
    padding-top: 10px;
    margin-bottom: 20px;
}

.btn-edit-margin {
    width: 10em;
    height: 3em;
    padding-top: 10px;
}

.card-img-dtl {
    
    width: 100%;
    margin-bottom: 20px;
}

.card-img {
    height: 251px;
}

.clear {
    clear: both;
}

.card {
    border-style: none;
    float: left;
}

.card-edit {
    margin-bottom: 0px;
}

.card-details {
    float: none;
    margin-bottom: 15px;
}

.color-edit-edit {
    color: #007bff;
    border-color: #007bff;
    margin-top: -47px;
}

.color-edit {
    color: #007bff;
    border-color: #007bff;
    margin-bottom: 0px;
    background-color: #ddd;
    padding: 20px;
    margin: -20px;
    padding-bottom: 45px;
    border-radius: 3px;
}

.color {
    color: #007bff;
    border-color: #007bff;
}

.color-grey {
    color: gray;
}

.text-lorem {
    color: #085ab1;
}

.text-muted-color {
    color: white;
}